# Default OS image is Ubuntu 12.04 LTS Precise on Travis-CI for linux
language: c

os:
  - linux

compiler:
  - gcc

env:
  - SRCDIR=vim/src

# sudo required to build AppImage (does apparently enable FUSE extensions)
sudo: required

branches:
  except:
    - /^v[0-9]/

addons:
  apt:
    sources:
      # Need msgfmt 0.19.8 to be able to generate .desktop files
      - sourceline: 'ppa:ricotz/toolchain'
    packages:
      - autoconf
      - clang
      - lcov
      - gettext
      - libperl-dev
      - python-dev
      - python3-dev
      - liblua5.2-dev
      - lua5.2
      - ruby-dev
      - tcl-dev
      - cscope
      - libgtk2.0-dev

before_install:
    # make sure to use default 1.9.3 ruby (switching sudo on, does add different ruby versions, GRR!)
  - rvm use 1.9.3 --install --binary --fuzzy
    # Really checkout the current branch (needed for commit/push later)
  - git checkout $TRAVIS_BRANCH
    # Update Vim
  - (cd vim && git checkout master && git pull)
  - export VIM_SUMMARY="$(git submodule summary vim)"
  - "[ -n \"$VIM_SUMMARY\" ] && export TRAVIS_TAG=$(cd vim && git describe --tags --abbrev=0) || true"

before_script:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &

script:
  - scripts/build_vim.sh
  - ${SRCDIR}/vim --version
  - bash -ex scripts/appimage.sh
  - make -C vim/src/testdir VIMPROG=$TRAVIS_BUILD_DIR/vim.appimage

before_deploy:
  # wait 10 secs to be sure the test output is printed
  - sleep 10
  # Set up git user name and tag this commit
  - |
    if [ -n "$TRAVIS_TAG" ]; then
      echo "Committing, Tagging and Pushing..."
      openssl aes-256-cbc -K $encrypted_62bc4630de43_key -iv $encrypted_62bc4630de43_iv -in scripts/github_deploy_key.enc -out github_deploy_key -d
      chmod 600 github_deploy_key
      eval $(ssh-agent -s)
      ssh-add github_deploy_key
      git config --local user.name "Travis CI"
      git config --local user.email "travis@travis-ci.org"
      git remote add push-origin git@github.com:${TRAVIS_REPO_SLUG}.git
      git commit -m "Vim: $TRAVIS_TAG" -m "$VIM_SUMMARY" -m "$TRAVIS_BUILD_WEB_URL" -m "[ci skip]" vim
      git tag -f $TRAVIS_TAG -m "Vim: $TRAVIS_TAG"
      git push --follow-tags -u push-origin $TRAVIS_BRANCH
      ssh-add -D
      rm -f github_deploy_key
    else
      echo "Nothing to commit"
    fi
  - RELEASE_BODY="$(cat $TRAVIS_BUILD_DIR/release.body)"

deploy:
  - provider: releases
    api-key: $API_TOKEN
    name: "Vim: $TRAVIS_TAG"
    file: "*.AppImage"
    file_glob: true
    overwrite: true
    body: "$RELEASE_BODY"
    skip_cleanup: true
    on:
      tags: true

after_script:
  # workaround for truncated output
  - sleep 10

# vim:set sts=2 sw=2 tw=0 et:
